<section class="auth-container">
  <div class="container-fluid bg-overlay">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-5 bg-white rounded-3 px-5 py-4 shadow">
        <div>
          <div class="logo-container text-center mb-3">
            <img class="w-50" src="/images/4 3.png" alt="food-logo" />
          </div>


      <div class="title my-3">
        <h5>Change Password</h5>
        <span class="text-muted">
          No worries! Please replace your old password with new one and we will change it
        </span>
      </div>

      <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            [type]="showPassword?'text':'password'"
            class="form-control"
            formControlName="oldPassword"
            placeholder="Old Password"
            aria-label="Old Password"
          />
          <button (click)="togglePassword()" class="btn eye-border btn-outline-secondary" type="button">


             @if (showPassword) {
               <i class="fa-solid fa-eye-slash"></i>
            }
            @else {
               <i class="fa-solid fa-eye"></i>
            }
          </button>
        </div>
          @let OldPasswordControl = changePasswordForm.get('oldPassword');
      @if (OldPasswordControl?.errors && OldPasswordControl?.touched) {
        @if (OldPasswordControl?.getError('required')) {
           <p class="mt-2 text-danger">Password is required</p>
        }
        @if (OldPasswordControl?.getError('pattern')) {
           <p class="mt-2 text-danger">Password Must Contain Uppercase,Lowercase,Letters,Numbers,Special Characters</p>
        }

      }





        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            [type]="showNewPassword?'text':'password'"
            class="form-control"
            formControlName="newPassword"
            placeholder="New Password"
            aria-label="New Password"
          />
          <button (click)="toggleNewPassword()" class="btn eye-border btn-outline-secondary" type="button">


             @if (showNewPassword) {
               <i class="fa-solid fa-eye-slash"></i>
            }
            @else {
               <i class="fa-solid fa-eye"></i>
            }
          </button>
        </div>

         @let NewPasswordControl = changePasswordForm.get('newPassword');
      @if (NewPasswordControl?.errors && NewPasswordControl?.touched) {
        @if (NewPasswordControl?.getError('required')) {
           <p class="mt-2 text-danger">New Password is required</p>
        }
        @if (NewPasswordControl?.getError('pattern')) {
           <p class="mt-2 text-danger">Password Must Contain Uppercase,Lowercase,Letters,Numbers,Special Characters</p>
        }

      }



        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            [type]="showConfirmNewPassword?'text':'password'"
            class="form-control"
            formControlName="confirmNewPassword"
            placeholder="Confirm New Password"
            aria-label="Confirm New Password"
          />
          <button (click)="toggleConfirmNewPassword()" class="btn eye-border btn-outline-secondary" type="button">


             @if (showConfirmNewPassword) {
               <i class="fa-solid fa-eye-slash"></i>
            }
            @else {
               <i class="fa-solid fa-eye"></i>
            }
          </button>
        </div>
       @let confrimNewPasswordControl = changePasswordForm.get('confirmNewPassword');
      @if (confrimNewPasswordControl?.errors && confrimNewPasswordControl?.touched) {
        @if (confrimNewPasswordControl?.getError('required')) {
           <p class="mt-2 text-danger">Confirm New Password is required</p>
        }
        @if (confrimNewPasswordControl?.getError('mismatch')) {
           <p class="mt-2 text-danger">New Password and New Confirm Password doesnt match</p>
        }

      }

        <button type="submit" class="btn btn-success mt-2 w-100">
          Change Password   @if (loading) {
     <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
  }
        </button>
      </form>
    </div>
  </div>
</div>


  </div>
</section>
