.header{
  background-color: #009247;
  background-image: url(../../../../../public/images/WhatsApp\ Image\ 2025-05-24\ at\ 14.06.09_0eefaf07.jpg);
}

.my-img-animation {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
