<section class="auth-container">
  <div class="container-fluid bg-overlay">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-5 bg-white rounded-3 px-5 py-4 shadow">
        <div>
          <div class="logo-container text-center mb-3">
            <img class="w-50" src="/images/4 3.png" alt="food-logo" />
          </div>


      <div class="title my-3">
        <h5>Forgot Your Password?</h5>
        <span class="text-muted">
          No worries! Please enter your email and we will send a password reset link
        </span>
      </div>

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPassword()">
      <div class="input-group mt-5">
        <span class="input-group-text">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>

        <input
        formControlName="email"
          type="email"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
        />
      </div>
      @let emailControl = forgetPasswordForm.get('email');
      @if (emailControl?.errors && emailControl?.touched) {
        @if (emailControl?.getError('required')) {
           <p class="mt-2 text-danger">Email is required</p>
        }
        @if (emailControl?.getError('email')) {
           <p class="mt-2 text-danger">Email is not valid</p>
        }

      }


        <button type="submit" class="btn btn-success mt-5 w-100">
          Forget Password   @if (loading) {
     <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
  }
        </button>
      </form>
    </div>
  </div>
</div>


  </div>
</section>
