<div class="auth-container">
  <div class="container-fluid bg-overlay">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-5 bg-white rounded-3 px-5 py-4">
        <div>
          <div class="logo-container text-center">
            <img class="w-50" src="/images/4 3.png" alt="food-logo" />
          </div>


      <div class="title my-3">
        <h5>Reset Password</h5>
        <span class="text-muted">Please Enter Your OTP or Check Your Inbox</span>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
          />
        </div>
           @let emailControl = resetPasswordForm.get('email');
         @if (emailControl?.errors && emailControl?.touched) {
        @if (emailControl?.getError('required')) {
           <p class="mt-2 text-danger">Email is required</p>
        }
        @if (emailControl?.getError('email')) {
           <p class="mt-2 text-danger">Enter A Vaild Email</p>
        }}

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            type="text"
            formControlName="seed"
            class="form-control"
            placeholder="OTP"
            aria-label="OTP"
          />
        </div>
            @let seedControl = resetPasswordForm.get('seed');
      @if (seedControl?.errors && seedControl?.touched) {
        @if (seedControl?.getError('required')) {
           <p class="mt-2 text-danger">Otp is required</p>
        }
        @if (seedControl?.getError('maxlength')) {
           <p class="mt-2 text-danger">Max length is 4</p>
        }
      }

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            [type]="showPassword?'text':'password'"
            class="form-control"
            formControlName="password"
            placeholder="New Password"
            aria-label="Password"
          />
          <button (click)="togglePassword()" class="btn eye-border btn-outline-secondary" type="button">


             @if (showPassword) {
               <i class="fa-solid fa-eye-slash"></i>
            }
            @else {
               <i class="fa-solid fa-eye"></i>
            }
          </button>
        </div>
        @let passwordControl = resetPasswordForm.get('password');
         @if (passwordControl?.errors && passwordControl?.touched) {
        @if (passwordControl?.getError('required')) {
           <p class="mt-2 text-danger">Password is required</p>
        }
        @if (passwordControl?.getError('pattern')) {
           <p class="mt-2 text-danger">Password Must Have uppercase,lowercase,special charcters,numbers</p>
        }}

        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            [type]="showConfirmPassword?'text':'password'"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm New Password"
            aria-label="Confirm Password"
          />
          <button (click)="toggleConfirmPassword()" class="btn eye-border btn-outline-secondary" type="button">
            @if (showConfirmPassword) {
               <i class="fa-solid fa-eye-slash"></i>
            }
            @else {
               <i class="fa-solid fa-eye"></i>
            }

          </button>
        </div> @let confirmPasswordControl = resetPasswordForm.get('confirmPassword');
         @if (confirmPasswordControl?.errors && confirmPasswordControl?.touched) {
        @if (confirmPasswordControl?.getError('required')) {
           <p class="mt-2 text-danger">confirmPassword is required</p>
        }
        @if (confirmPasswordControl?.getError('mismatch')) {
           <p class="mt-2 text-danger">Please confirm your password</p>
        }
      }

        <button class="btn btn-success w-100" type="submit">
          Reset Password @if (loading) {
     <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
  }
        </button>
      </form>
    </div>
  </div>
</div>


  </div>
</div>

