<app-header
  [title]="`Welcome ${token.userName}!`"
  [describtion]="'This is a welcoming screen for the entry of the application , you can now see the options'"
  [image]="'/images/dashimg-header.png'">
</app-header>

<div class="container-fluid mt-4">
  <div class="row g-4">

    <div class="col-md-3 col-sm-6">
      <div class="dashboard-card">
        <div class="icon-box bg-primary">
          <i class="fa-solid fa-users"></i>
        </div>
        <p class="title">Users</p>
        <span class="number">{{ usersList.length }}</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="dashboard-card">
        <div class="icon-box bg-success">
          <i class="fa-solid fa-utensils"></i>
        </div>
        <p class="title">Recipes</p>
        <span class="number">{{ recipesList.length }}</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="dashboard-card">
        <div class="icon-box bg-warning">
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <p class="title">Tags</p>
        <span class="number">{{ tagsList.length }}</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="dashboard-card">
        <div class="icon-box bg-danger">
          <i class="fa-solid fa-chart-pie"></i>
        </div>
        <p class="title">Categories</p>
        <span class="number">{{ categoriesList.length }}</span>
      </div>
    </div>

  </div>
</div>

<!-- Charts -->
<div class="container-fluid charts-wrapper">

  @if (series.length == 2) {
    <div class="apexchart-container">
      <h5 class="chart-title">Users vs Admins</h5>
      <apx-chart
        [series]="series"
        [colors]="colors"
        [chart]="chart"
        [labels]="labels"
        [plotOptions]="plotOptions"
        [legend]="legend">
      </apx-chart>
    </div>
  }

  @if (seriesRecipes.length == 3) {
    <div class="apexchart-container">
      <h5 class="chart-title">Recipes • Categories • Tags</h5>
      <apx-chart
        [series]="seriesRecipes"
        [chart]="chartRecipe"
        [labels]="labelsRecipe"
        [plotOptions]="plotOptionsRecipe"
        [legend]="legendRecipe">
      </apx-chart>
    </div>
  }

</div>
